/* In your main CSS file, e.g., App.css */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(
    --section-background-color
  ); /* Use the variable for consistent background */
  color: var(--imp-text-color); /* Optional: Set default text color */
}

#root {
  min-height: 100vh; /* Ensure the root div also covers full height */
  display: flex;
  flex-direction: column;
}

/* Universal Styles */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

body,
button {
  color: var(--imp-text-color);
  font-family: "Arial", sans-serif;
}

button:focus {
  box-shadow: none;
}

/* Preloader Styles */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: #fff url("./Assets/pre.svg") no-repeat center;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}
.custom-card {
  transition: transform 0.3s; /* Smooth transition for hover effect */
  cursor: pointer;
}

.custom-card:hover {
  transform: translateY(-10px); /* Slight raise effect on hover */
}

.intro-text h1,
.intro-text p {
  color: #000; /* Bright blue for a vibrant look */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Adds depth to text */
}

::-webkit-scrollbar-thumb {
  background: #b8c6db; /* Soft blue */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a2b9ce; /* Light grey */
}

/* Navbar Styling */
.sticky {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 10px 10px rgba(100, 100, 100, 0.1);
  backdrop-filter: blur(10px);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.9rem 1.5rem;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.98);
  color: #4a8fe7; /* Maintaining the soft blue theme */
}

.navbar-toggler {
  background-color: transparent;
}

.navbar-toggler span {
  background-color: var(--imp-text-color);
}

.nav-link:hover::after {
  visibility: visible;
  width: 100%;
}

.navbar-brand img {
  transition: transform 0.5s ease-in-out;
}

.navbar-brand img:hover {
  transform: scale(1.8);
}

.logo {
  height: 2.3em;
  width: 10em;
}

.navbar-nav {
  padding: 1rem;
}
.nav-link {
  color: #333 !important;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.nav-link:hover {
  color: #007bff !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #007bff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

/* Footer Section Styles */
.footer {
  background-image: var(--section-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.footer .footer-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer-icons li {
  margin: 0px 15px;
}

ul,
.footer-icons {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
}

/* Home Section Styles */
.wave {
  animation: wave-animation 2s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0%,
  60%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 100px; /* Add padding to push content below the navbar */
  position: relative; /* To contain the video background */
  z-index: 1; /* To place content above the video */
}

.home-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.home-content {
  color: var(--imp-text-color);
  text-align: center;
  width: 100%;
}

.heading {
  color: #4a8fe7; /* Soft blue */
}
.project-heading {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.project-section {
  margin-top: 50px; /* Adjust according to your navbar height */
  transition: all 0.3s ease-in-out;
}
.heading-name {
  font-size: 2.5em;
}

.main-name {
  color: var(--imp-text-color);
}

.Typewriter__wrapper {
  font-size: 2.2em;
  color: black;
}

.avatar-img {
  border-radius: 50%;
}

.home-about-section {
  padding: 20px 0;
}

/* Adjustments for light dynamic backgrounds and text colors */
.home-section,
.about-section,
.resume-section,
.project-section {
  background-image: var(--section-background-color);
  color: #333; /* Darker text for better readability */
}

.home-about-description {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-activity {
  margin-bottom: 10px;
  color: var(--activity-text-color, #6c757d);
}

.about-activity svg {
  margin-right: 10px;
  color: var(--icon-color, #6c757d);
}

.home-social-icons:hover {
  color: var(--imp-text-color); /* Adjusted for consistency */
  box-shadow: 0 0 5px var(--imp-text-color);
}

.purple {
  color: #a855f7;
}

.text-muted {
  color: var(--muted-text-color, #747474);
}

.tech-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.tech-icons svg {
  width: 50px; /* Set size of icons */
  height: auto;
  color: var(--primary-color); /* Adjust based on your theme */
}

.like-btn:hover,
.fork-btn-inner:hover {
  background-color: #a2cfff;
}

.weather-info,
.quote-info {
  padding: 25px 0px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center;
}
.project-card-view {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s; /* Smooth transform transition */
}

.project-card-view:hover {
  transform: scale(1.03);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.project-card-view img {
  transition: opacity 0.3s ease-in-out;
}

.project-card-view:hover img {
  opacity: 0.9;
}
.project-card {
  display: flex;
  height: 100%;
}
.card:hover {
  transform: scale(1.03); /* Slightly enlarge cards on hover */
}
.button:hover {
  background-color: #4a8fe7; /* Soft blue */
  color: white;
}
